<body>
    <h3>Edit Events</h3>
    <label>&nbsp;</label>
    <div class="form-group">
        <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>Event name</th>
                <th>Occurence Time</th>
                <th>Valid from</th>
                <th>Valid to</th>
                <th>Description</th>
                <th>Recurrence</th>
                <th>Mailing List Name</th>
            </tr>
            <tr>
                <td>
                    <input type="text" class="form-control" id="eventName" placeholder="Enter Event Name" ng-model="editedEvent.eventName">
                </td>
                <td>
                    <input type="text" class="form-control" size="8" ng-model="editedEvent.Time" name="Time" placeholder="Notification Time" data-autoclose="0" data-time-format="h:mm:ss a" data-length="1" data-minute-step="1" data-arrow-behavior="picker" bs-timepicker>
                </td>
                <td>
                    <input type="text" size="10" class="form-control" ng-model="editedEvent.fromDate" data-autoclose="1" placeholder="valid From Date" id="fromDate" bs-datepicker>
                </td>
                <td>
                    <input type="text" size="10" class="form-control" ng-model="editedEvent.untilDate" data-autoclose="1" placeholder="valid To Date" id="untilDate" bs-datepicker>
                </td>
                <td>
                    <input type="text" class="form-control" id="Description" placeholder="Enter Event description" ng-model="editedEvent.Description">
                </td>
                <td>
                    <select type="text" class="form-control" ng-model="editedEvent.recurrence">
                        <option>None</option>
                        <option>Daily</option>
                        <option>Weekly</option>
                        <option>Monthly</option>
                    </select>
                </td>
                <td>
                    <select type="text" class="form-control" ng-model="editedEvent.mailingListName">
                        <option ng-repeat="mailingList in mailingLists">{{mailingList.name}}</option>
                    </select>
                </td>
            </tr>
        </table>
        </div>
    </div>
    <button type="button" ng-click="save(editedEvent)" class="btn btn-primary">Save</button>
    <button type="button" ng-click="back()" class="btn btn-primary">Cancel</button>
    <p>&nbsp;</p>
</body>
