<body>
  <h3>Hostel Events</h3>
  <button type="button" ng-click="editmailingList('new')" class="btn btn-primary">Add new</button>
  <label>&nbsp;</label>
  <div class="panel panel-default">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Event name</th>
          <th>Valid from</th>
          <th>Valid to</th>
          <th>Description</th>
          <th>Recurrence</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="mailingList in mailingLists">
          <td>{{mailingList.eventName}}</td>
          <td>{{mailingList.validFrom}}</td>
          <td>{{mailingList.validTo}}</td>
          <td>{{mailingList.Description}}</td>
          <td>{{mailingList.recurrence}}</td>
          <td>
            <button type="button" ng-click="editmailingList(mailingList)" class="btn btn-primary">Edit</button>
            <button type="button" ng-click="deletemailingList(mailingList._id)" class="btn btn-default">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
