<body>
  <h3>Mailing Lists</h3>
  <div class="panel panel-default">
    <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th style="text-align:center">Name</th>
          <th style="text-align:center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="mailingList in mailingLists">
          <td>{{mailingList.name}}</td>
          <td>
            <button type="button" ng-click="editmailingList(mailingList)" class="btn btn-primary">Edit</button>
            <button type="button" ng-click="deletemailingList(mailingList._id)" class="btn btn-default">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
  <label>&nbsp;</label>
  <button type="button" ng-click="editmailingList('new')" class="btn btn-primary">Add new</button>
  <p>&nbsp;</p>
</body>