<body>
    <h3>Academic Events</h3>
    <label>&nbsp;</label>
    <div class="panel panel-default">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Event name</th>
                    <th>Valid from</th>
                    <th>Valid to</th>
                    <th>Description</th>
                    <th>Recurrence</th>
                    <th>Mailing List Name</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="event in events | filter : event.eventListName='academicEvents'">
                    <td>{{event.eventName}}</td>
                    <td>validFrom</td>
                    <td>validTo</td>
                    <td>{{event.Description}}</td>
                    <td>recurrence</td>
                    <td>{{event.eventListName}}</td>
                    <td>
                        <button type="button" ng-click="editEvent(event)" class="btn btn-primary">Edit</button>
                        <button type="button" ng-click="deleteEvent(event._id)" class="btn btn-default">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
      <button type="button" ng-click="editEvent('new')" class="btn btn-primary">Add new</button>
    <p>&nbsp;</p>
</body>