<div id="wrap">
    <div class="container">
        
        <div class="container">
            <div class="row space100">
                <div class="span3 offset1 center">
                    <h2 class="contact-actions">Drop an email</h2>
                    <a href="mailto:orishabh1@gmail.com" class="btn btn-danger btn-large">orishabh1@gmail.com</a>
                </div>
                <div class="span2 center">
                    <h2 class="contact-actions">Call</h2>
                    <a href="#" class="btn btn-primary btn-large disabled">+91 7033 402286</a>
                </div>
                <div class="span5 center">
                    <h2 class="contact-actions">Connect</h2>
                    <a href="https://www.facebook.com/rishabh.rockz" class="btn btn-primary btn-large">facebook</a>
                    <a href="https://www.twitter.com/equate_rs" class="btn btn-info btn-large">twitter</a>
                    <a href="https://www.google.com/+RishabhSaxena19" class="btn btn-success btn-large">Google+</a>
                </div>
            </div>
        </div>
        <hr class="featurette-divider-big">
    </div>
    <div id="push"></div>
</div>
