<body>
    <div ng-if="currentUser">Welcome, {{ currentUser.id }}</div>
    <div ng-if="isAuthorized(userRoles.admin)">You're admin.</div>
    <div ng-if="currentUser" ng-switch on="currentUser.role">
        <div ng-switch-when="userRoles.admin">You're admin.</div>
        <div ng-switch-when="userRoles.editor">You're editor.</div>
        <div ng-switch-default>You're {{ currentUser.role }}.</div>
    </div>
    <div class="panel panel-default">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th style="text-align: center">Name</th>
                    <th style="text-align: center">Select</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="mailingList in mailingLists">
                    <td>{{mailingList.name}}</td>
                    <td>
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
