    <div class="panel panel-default">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th style="text-align: center">Name</th>
                    <th style="text-align: center">Select</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="mailingList in mailingLists">
                    <td>{{mailingList.name}}</td>
                    <td>
                      <button ng-class="(containsObject(mailingList._id,currentUser.mailingLists))?'btn btn-default': 'btn btn-primary'" ng-click="subscribe(mailingList)">Subscribe</button>
                      <button ng-class="(containsObject(mailingList._id,currentUser.mailingLists))?'btn btn-primary': 'btn btn-default'" ng-click="unsubscribe(mailingList)">Unsubscribe</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
