<div class="jumbotron">
  <h1>Welcome to Push!</h1>
  <p class="lead">
    This is the first Web project created by me which tries to organise most of the activities you do in the college and keeps you reminded by push notifications.
    
  </p>
</div>

<div class="row marketing">
<h3>Class Structure</h3>
  <p>
  This feature helps you create a weekly class schedule for yourself and provides you push notifications to keep you reminded of your classes
  </p>
  <h3>Attendance</h3>
  <p>
    This feature helps you to keep the track of your attendance on the period of your convenience(daily/weekly).
  </p>
  <h3>Food Schedule</h3>
  <p>
    Health is Wealth! keeping your body well nutritioned is also as important as everything else
  </p>
  <h3>Activity Clubs</h3>
  <p>
    This feature provides you the information regarding the recent ongoings of the activity clubs of your interest.
  </p>

</div>
