<body>
<div class="jumbotron">
    <h1>Welcome to Push!</h1>
    <p class="lead">
        This is a Web application which tries to organise most of the activities you do in the college and keeps you reminded by push notifications.
    </p>
    <p class="lead">
      Here you can register yourself to enjoy seamless notification service directly pushed to you as soon is there any new notification
    </p>
    <p>
        <div class="btn-group" role="group" aria-label="...">
        <ul>
            <a class="btn btn-success" href="#/login">Sign in</a>
            <a class="btn btn-primary" href="#/signup">Sign Up</a>
        </div>
    </p>
</div>
<div class="row marketing">
    <h3>Academic Events</h3>
    <p>
        We provide you all the important notifications related to your Lecture classes, tutorial classes and exam schedule
    </p>
    <p>
        Academic Events includes the time table of all your lecture and tutorial classes so you don't forget to keep track of your daily schedule.
    </p>
    
    <h3>Hostel Events</h3>
    <p>
        You will also recieve all the important hostel notifications. So  no worries from now even if you forgot to check the hostel notice board
    </p>
    <p>
    Hostel events include all the latest notifications related to your hostel.
    </p>
    <p>
    You will also be provided with notifications related to your daily food menu and will keep you updated with the recent food menu.
    </p>
    <p>
    You can also set the frequency of notifications you want to recieve.
    </p>
    
    <h3>Activity Clubs</h3>
    <p>
        As soon is there any notification related to the clubs of your interest, it will be directly pushed to you seamlessly.
    </p>
    <p>
    This is the part of website managed by the club authorities of all the respective clubs.
    </p>
    <p>
    It helps you to subscribe all the clubs of your interest and all the latest ongoings and notifications of these will be pushed to you, just so you don't miss anything important
    </p>
    
    <h3>Project</h3>
    <p>
    This project was created and worked upon during my summer vacations and third semester using HTML, CSS and Javascript based frameworks like AngularJS and Node.js.
    </p>
</div>
<body>
