<body>
<div class="jumbotron">
    <h1>Welcome to Push!</h1>
    <p class="lead">
        This is a Web application which tries to organise most of the activities you do in the college and keeps you reminded by push notifications.
    </p>
    <p class="lead">
      Here you can register yourself to enjoy seamless notification service directly pushed to you as soon is there any new notification
    </p>
    <p>
        <div class="btn-group" role="group" aria-label="...">
        <ul>
            <a class="btn btn-success" href="#/login">Sign in</a>
            <a class="btn btn-primary" href="#/signup">Sign Up</a>
        </div>
    </p>
</div>
<div class="row marketing">
    <h3>Academic Events</h3>
    <p>
        We provide you all the important notifications related to your Lecture classes, tutorial classes and exam schedule
    </p>
    <h3>Hostel Events</h3>
    <p>
        You will also recieve all the important hostel notifications. So  no worries from now even if you frogot to check the hostel notice board
    </p>
    <h3>Activity Clubs</h3>
    <p>
        As soon is there any notification related to the clubs of your interest, it will be directly pushed to you seamlessly.
    </p>
</div>
<body>
