<body>
    <div class="jumbotron">
        <form action="index.html" method="post">
            <h2>Sign Up</h2>
            <fieldset>
                <p>&nbsp;</p>
                <label for="name">Name:</label>
                <input type="text" id="name" name="user_name">
                <label for="mail">Email:</label>
                <input type="email" id="mail" name="user_email">
                <label for="password">Password:</label>
                <input type="password" id="password" name="user_password">
            </fieldset>
            <p>&nbsp;</p>
            <button class="btn btn-primary btn-block" type="submit">Sign Up</button>
        </form>
    </div>
    <h4 align="center">Already a member? <a href="#/login">Sign in now</a><span class="fontawesome-arrow-right"></span></h4>
</body>